<div>
    {{#if @site.cover_image}}
        <img class="cover-image" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}
    <div class="cover-content gh-inner">


       
        {{#if @site.members_enabled}}
        {{#unless @member}}
        <div class="cover-cta">
            <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
            <button class="button button-secondary members-login" data-portal="signin">Login</button>
        </div>
        {{/unless}}
        {{/if}}
    </div>
</div>